<launch>
  <arg name="pi/2" value="1.5707963267948966" />
  <arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)" />
  
  <node pkg="tf" type="static_transform_publisher" name="camera_rgb_frame_tf"
        args="0 -0.045 0 0 0 0  /camera_link /camera_rgb_frame 40" />        

  <node pkg="tf" type="static_transform_publisher" name="camera_rgb_optical_frame_tf"
        args="$(arg optical_rotate) /camera_rgb_frame /camera_rgb_optical_frame 40" />  
        
  <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" 
        args="0 0 0 0 0 0 /map /camera_link 40" />
  
  <node pkg="creative_interactive_gesture_camera" type="main" name="depth_cam" respawn="false"  required="true" launch-prefix="gdb -ex run --args">
    <remap from="/points2" to="/depth_registered/pointsRGB" /> <!-- output -->
    <remap from="/points_xyz" to="/camera/depth/image_raw" /> <!-- output -->
    <remap from="/rgb_data" to="/camera/rgb/image_raw"/> <!-- output -->
    <remap from="/camera_info" to="/camera/rgb/camera_info" /> <!-- output -->
    <remap from="/mono_data" to="/camera/mono/image_raw" /> <!-- output -->
    <remap from="/depth_info" to="/camera/depth/camera_info" /> <!-- output -->
    <remap from="/cloud_image" to="/camera/depth/points/image_raw" /> <!-- coutput -->
  </node>
 
  <node pkg="rviz" type="rviz" name="rviz" args="-d /home/common/catkin_ws/src/creative_interactive_gesture_camera/src/rvizconfig.rviz" respawn="false"  required="true">
  </node>
  
<!--   <node pkg="image_view" type="image_view" name="image_view" args="image:=/rgb/image_raw" respawn="false"  required="true">
  </node> 
  <node pkg="image_view" type="image_view" name="image_view_mono" args="image:=/mono/image_raw" respawn="false"  required="true">
  </node>  -->
</launch>
